{%extends 'base.html'%}
{% block title %}Log In - Scrumptious Recipes{% endblock title %}

{% block content %}
<main>
    <h1>Sign In</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button>Login</button>
    </form>
    <p>Don't have an account?</p>
    <h3><a href={% url 'signup' %}>Create Account</a></h3>
</main>
{% endblock content %}
