@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

header {
    font-family: 'Poppins', sans-serif;
}

body {
margin: 0px;
padding: 0px;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.site-title {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    transition: .1s;
}

.site-title:hover{
    opacity: .8;
}

.navlinks {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1px;
    padding-right: 10px;
    list-style: none;
}
.navlinks a{
    margin: 15px;
    cursor: pointer;
    transition: .1s;
    text-decoration: none;
    color: inherit;

}

.navlinks a:hover{
    opacity: .8;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_box {
    padding: 15px;

}
.content_box h2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-left:35px ;
    padding-right: 35px;
}

.recipelist{
    justify-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.recipe {
    margin: 15px;
    width: 304px;
    height: 253px;
}
.recipe a{
    font-family: 'Poppins', sans-serif;
    font-size: 110% ;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.recipe a:hover{
    cursor: pointer;
    text-shadow: rgba(0, 0, 0, 0.3) 0 8px 15px;
}

.recipe img{
    width: 304px;
    height: 170px;
}
.recipe h3{
    margin: 0;
    margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    padding-bottom: 5px;
}
.recipe p{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 0px;
    margin-left: 5px;
    font-weight: 300;
}

.details-intro {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.details-intro > * {
margin: 0;
padding: 0;
}

.details-intro h1 {
    font-weight: bold;
    font-size: 50px;
}

.details-intro h3{
    padding-top: 20px;
    padding-bottom: 20px;
}

.content_box_pictures {
    width: 960px;
    text-align: center;
}

.content_box_pictures img{
    width: 860px;
    height: 430px;
}

.content_box_recipe {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding-top: 30px;
    width: 1100px;
}

.ingredients {

}

.ingredients h1 {
    font-family: 'Cabin', sans-serif;
}

.steps h1{
    font-family: 'Cabin', sans-serif;
}

.button_box{
    width: 1100px;
}

.edit_button{
    appearance: none;
    background-color: #000000;
    border: 2px solid #1A1A1A;
    border-radius: 14px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-width: 0;
    outline: none;
    padding: 1px 6px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}

.edit_button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    /*transform: translateY(-2px);*/
}

.edit_button > *{
    text-decoration: none;
    color: #FFFFFF;
}

