{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{%block title%} {%endblock title%}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="{% url 'homepage' %}" class="site-title">Scrumptious Recipes</a>
      <ul class="navlinks">
          <li><a href="about.html">about</a></li>
          <li><a href="contact.html">contact</a></li>
          {% if user.is_authenticated %}
          <li><li><a href={%url 'create_recipe'%}>Create a Recipe</a></li></li>
          <li><a href={%url 'logout'%}>Logout</a></li>
          {% else %}
          <li><a href={%url 'login'%}>Login</a></li>
          {% endif %}
      </ul>
    </nav>
  </header>
  {% block content %} {% endblock content %}
</body>
</html>
