{%extends 'base.html'%}
{%block title%} {{recipe.title}} - Scrumptious Recipes {%endblock title%}

{%block content%}
<main>
<div class="details-intro">
  <h1>{{recipe.title}} by {{recipe.author}}</h1>
  <h2>{{recipe.created_on}}</h2>
  <h3>{{recipe.description}}</h3>
</div>

<div class="content_box_pictures">
  <img src="{{recipe.picture}}" alt="{{recipe.title}}">
</div>

<div class="content_box_recipe">
  <div class="ingredients">
    <h1>Ingredients</h1>
  </div>
  <div class="steps">
    <h1>Methods</h1>
  </div>
</div>
<div class ="button_box">
  <button class="edit_button"><a href="{%url 'edit_recipe' recipe.id%}">Edit</a></button>
</div>
</main>
{%endblock content%}
