{%extends 'base.html'%}

{%block title%} Editing {{recipe.title}} {%endblock title%}

{%block content%}
<h1>Editing {{recipe.title}}</h1>
<form method='POST'>
  {% csrf_token %}
  {{form.as_p}}
  <button>SUBMIT</button>
</form>
{%endblock content%}
