{%extends 'base.html'%}

{%block title%} Scrumptious Recipes {%endblock title%}

{%block content%}
<main>
  <div class="content_box"><h2> Some recipes. They're pretty good. I guess. I don't know... </h2></div>
  <div class="recipelist">
    {%for recipe in recipe_list %}
    <div class="recipe">
      <a href={%url 'get_recipe' recipe.id%}><img src={{recipe.picture}} alt={{recipe.title}}></a>
      <h3><a href={%url 'get_recipe' recipe.id%}>{{recipe.title}} by {{recipe.author}}</a></h3>
      <p>{{recipe.created_on}}</p>
    </div>
    {%endfor%}
  </div>
</main>
{%endblock content%}
